html[theme="light"] {
  --background: #f0f0f0;
  --text: #1F1F1F;
  --primary:  #64A4D5;
  --primary90: #F8DEB890;
}

html[theme="dark"] {
  --background: #303030;
  --text: #C2BAAE;
  --primary:  #768FA7;
  --primary90: #768FA790;
}