[tooltip] {
  display: inline-block;
  position: relative;
  text-decoration: underline var(--primary) dashed 2px;
}
[tooltip]:hover:after {
  background: var(--background);
  border: 1px solid var(--text);
  color: var(--text);
  border-radius: 5px;
  position: absolute;
  bottom: -10%;
  left: 175%;
  content: attr(tooltip);
  font-family: inherit;
  font-size: 0.75rem;
  padding: 5px 10px;
  z-index: 98;
  overflow: auto;
  font-style: normal;
  margin-left: -50%;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
}
